<div id='header_content'>
<img class="stars2" src="/images/stars.png" />
<img class="stars1" src="/images/stars.png" />
  <%= render :partial => "/shared/menu",
             :locals => {
               :dom_id => 'menu',
               :css => 'menu'
             } -%>
</div>

<% if !@alerts.empty? %>
  <div class="alert_box clearfix">
    <div class="inner">
      <ul>
        <% @alerts.each do |alert| %> 
          <li><%=raw alert.message %></li>
        <% end %> 
      </ul>
    </div>
  </div>
<% end %>
