<%= render :partial => "/shared/subnav" %>

<script>
$(document).ready(function(){
	if ( $.browser.msie ) {
		$(".story").css({'display':'none'});
		$(".story").parent('.video_slide').prepend('<a class="story_player" href="https://s3.amazonaws.com/andrews_distributing/WorkAtAndrews_525x296.m4v" ><img src="/system/images/BAhbBlsHOgZmIi4yMDExLzA0LzA4LzA5LzQzLzEwLzI2NC9Xb3JrQXRBbmRyZXdzLmpwZw/WorkAtAndrews.jpg" /></a>');
		flowplayer(".story_player", {src: 'http://releases.flowplayer.org/swf/flowplayer-3.2.7.swf', wmode: 'opaque'}, {
		// use the first frame of the video as a "splash image"
		clip: {
		autoPlay: false,
		autoBuffering: false
		}
		});
	}

	$(".story").click(function() {
		$(this).parent('.video_slide').prepend('<div class="video-js-box"><video id="example_video_1" duration="2:41" class="video-js" width="525" height="296" poster="/system/images/BAhbBlsHOgZmIi4yMDExLzA0LzA4LzA5LzQzLzEwLzI2NC9Xb3JrQXRBbmRyZXdzLmpwZw/WorkAtAndrews.jpg" controls style="height:296px !important"><source src="https://s3.amazonaws.com/andrews_distributing/WorkAtAndrews_525x296.m4v" type=\'video/mp4; codecs="avc1.42E01E, mp4a.40.2"\' /><source src="/system/resources/BAhbBlsHOgZmIjcyMDExLzA0LzAxLzEzLzA2LzE1LzU4MC9Xb3JrQXRBbmRyZXdzXzUyNXgyOTYud2VibQ/WorkAtAndrews_525x296.webm" type=\'video/webm; codecs="vp8, vorbis"\' /><source src="/system/resources/BAhbBlsHOgZmIjYyMDExLzA0LzAxLzEyLzMwLzEyLzE0Mi9Xb3JrQXRBbmRyZXdzXzUyNXgyOTYub2d2/WorkAtAndrews_525x296.ogv" type=\'video/ogg; codecs="theora, vorbis"\' /></video></div>');
		$(this).css({'display':'none'});
		// Add VideoJS to all video tags on the page when the DOM is ready
		$(this).siblings(".video-js-box").children("video").trigger("play");
		return false;
	});
});
</script>

<img src="/system/images/BAhbBlsHOgZmIi4yMDExLzA0LzA4LzA5LzQzLzEwLzI2NC9Xb3JrQXRBbmRyZXdzLmpwZw/WorkAtAndrews.jpg" class="story" width="525" height="296" />

<%= render :partial => "/shared/content_page" %>