<%= render :partial => "/shared/subnav" %>

<p>“Our mission is simply to be the nation’s leading beverage brand builder measured in valuable growth. Brand building is what we do.”<br />
- Barry Andrews, CEO</p>

<script>
$(document).ready(function(){
	if ( $.browser.msie ) {
		$(".story").css({'display':'none'});
		$(".story").parent('.holder').prepend('<a class="story_player" href="http://andrews.heroku.com/system/resources/BAhbBlsHOgZmIjgyMDExLzA0LzAxLzEyLzUzLzM5LzkzNC9Db21wYW55SGlzdF81MjV4Mjk2Lm1vdi5tNHY/CompanyHist_525x296.mov.m4v" ><img src="/system/images/BAhbBlsHOgZmIi8yMDExLzA0LzA4LzA5LzQzLzA1Lzk2MS9Db21wYW55SGlzdG9yeS5qcGc/CompanyHistory.jpg" /></a>');
		flowplayer(".story_player", {src: 'http://releases.flowplayer.org/swf/flowplayer-3.2.7.swf', wmode: 'opaque'}, {
		// use the first frame of the video as a "splash image"
		clip: {
		autoPlay: true,
		autoBuffering: true
		}
		});
	}

	$(".story").click(function() {
		$(this).parent('.holder').prepend('<div class="video-js-box"><video id="example_video_1" duration="2:13" class="video-js" width="525" height="296" poster="/system/images/BAhbBlsHOgZmIi8yMDExLzA0LzA4LzA5LzQzLzA1Lzk2MS9Db21wYW55SGlzdG9yeS5qcGc/CompanyHistory.jpg" controls style="height:296px !important"><source src="https://s3.amazonaws.com/andrews_distributing/2011/04/01/12/53/39/934/CompanyHist_525x296.mov.m4v" type=\'video/mp4; codecs="avc1.42E01E, mp4a.40.2"\' /><source src="/system/resources/BAhbBlsHOgZmIjgyMDExLzA0LzAxLzEzLzAyLzMyLzk5L0NvbXBhbnlIaXN0XzUyNXgyOTYubW92LndlYm0/CompanyHist_525x296.mov.webm" type=\'video/webm; codecs="vp8, vorbis"\' /><source src="/system/resources/BAhbBlsHOgZmIjgyMDExLzA0LzAxLzEyLzQyLzUwLzkxOS9Db21wYW55SGlzdF81MjV4Mjk2Lm1vdi5vZ3Y/CompanyHist_525x296.mov.ogv" type=\'video/ogg; codecs="theora, vorbis"\' /></video></div>');
		$(this).css({'display':'none'});
		// Add VideoJS to all video tags on the page when the DOM is ready
		$(this).siblings(".video-js-box").children("video").trigger("play");
		return false;
	});
});
</script>
<div class="holder">
<img src="/system/images/BAhbBlsHOgZmIi8yMDExLzA0LzA4LzA5LzQzLzA1Lzk2MS9Db21wYW55SGlzdG9yeS5qcGc/CompanyHistory.jpg" class="story" width="525" height="296" />
</div>

<%= render :partial => "/shared/content_page" %>